.env
node_modules/
info/
public/node_modules/
public/uploads/
public/reports/
public/static/reports/html/*.html
public/static/reports/pdf/*.pdf
!public/static/reports/html/.gitkeep 
!public/static/reports/pdf/.gitkeep 